@charset "utf-8";

body{
	background: #fff;
}

h1{
	color:#fff;
	margin: 80px 16px 80px;
	font-size: 21px;
	letter-spacing: 0.04em;
	text-align: center;
	color: #111;
}

#mainContents{
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

#mainContents p {
	width: 208px;
	float: left;
	margin: 0 16px 30px;
	display: inline;
	color: #fff;
}

#mainContents p a{
	text-decoration: none;
	color: #CAC39B;
	height: 129px;
	background: #fff;
	display: block;
	margin-bottom: 5px;
}

div#footer{
	margin: 60px 0;
	background: #fff;
}

div#footer p{
	text-align: center;
	margin: 0 auto;
	padding: 7px 0;
	color: #999;
}
